*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 80vh;
    width: 70%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    height: 100px;
    width: 100px;
    background-color: #333333;
    border-radius: 50%;
    position: relative;   
    transition: all 1s linear;
}
.trg-btn{
    height: 40px;
    width: 150px;
    margin-bottom: 40%;
    border-radius: 10px;
    border: 1px solid;
    transition: 0.3s ease;
}
.trg-btn:hover{
    background-color: #222222;
    color: antiquewhite;
}