*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    background: linear-gradient(135deg,rgb(153, 205, 251),rgb(13, 33, 55));
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}
.container h2{
    font-size: 45px;
}
.container h3{
    font-size: 30px;
}
.question{
    font-size: 35px;
    font-weight: 600;
}
.players{
    display: flex;
    gap: 20px;
}
.players input{
    height: 55px;
    width: 120px;
    margin: 5px;
    font-size: 25px;
    padding-left: 10px;
    border-radius: 4px;
}
#p1{
    background-color: red;
    color: #fff;
}
#p2{
    background-color: blue;
    color: #fff;
}
#submit{
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: rgb(59, 59, 255);
    font-size: 20px;
    color: #fff;
    border: none;
}
#submit:hover{
    background-color: #4c2ccb;
}
#result{
    font-size: 30px;
    font-weight: 600;
}