*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg,rgb(218, 49, 69),rgb(76, 197, 252));
}
.container{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
}
h2{
    font-size: 35px;
}
h2:hover{
    cursor: pointer;
}
p{
    font-size: 20px;
}
p:hover{
    cursor: pointer;
}
input{
    height: 80px;
    width: 130px;
    padding-left: 10px;
}
.players{
    display: flex;
}
.blue,.red{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.blue input{
    background-color: blue;
    border-radius: 5px;
    color: #fff;
    font-size: 50px;
}
.red input{
    background-color: red;
    border-radius: 5px;
    color: #fff;
    font-size: 50px;
}
.blue p{
    color: #000;
    margin: 5px;
}
.red p{
    color: #000;
    margin: 5px;

}
#check{
    height: 50px;
    width: 150px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: #fe5f25;
    color: #fff;
    font-weight: 600;
    padding: 5px 10px;
    margin: 20px 10px;
}
#check:hover{
    background-color: #cb4312;
    cursor: pointer;
}
#result{
    font-size: 25px;
    font-weight: 600;
}