*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(120deg,rgb(251, 229, 62),rgb(183, 40, 64));
}
.container{
    padding: 30px 20px;
    border-radius: 10px;
    gap: 20px;
    background-color: blue;
}
#input{
    margin: 20px;
    height: 70px;
    width: 100px;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
}
#btn{
    height: 40px;
    width: 70px;
    border-radius: 10px;
    border: none;
    background-color: #5acdfb;
    font-size: 20px;
    font-weight: 600;
    padding: 2px 5px;
}
#btn:hover{
    background-color: #4caed4;
}
#line{
    color: #fff;
}

#statement{
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
}